<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
</head>
<body>
    <h4>{{ yourname }}</h4>
    <a href="">Refresh</a>
    <ul>
        {% for c,msg in contactmsg.items() %}
            <form action="/processnum" method="POST">
                <input type="hidden" name="contact" value="{{ c }}">
                <button type="submit" style="border: none; background: none; padding: 0; cursor: pointer;">
                    <b>{{ c }}</b>
                </button>
            </form>
            <p>{{ msg }}</p>
            <hr>
        {% endfor %}
    </ul>
</body>
</html>

