<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
</head>
<body>
    <h4>{{ yourname }}</h4>
    <a href="">Refresh</a>
    <ul>
        {% for c,msg in contactmsg.items() %}
            <form action="/processnum" method="POST">
                <input type="hidden" name="contact" value="{{ c }}">
                <button type="submit" style="border: none; background: none; padding: 0; cursor: pointer;">
                    <b>{{ c }}</b>
                </button>
            </form>
            {% if msg is iterable and not msg is string %}
                {% if msg is mapping %}
                    <p>{{ msg["type"] }}</p>
                    <img src="data:image/jpeg;base64,{{ msg["body"] }}" width="120" height="120">
                    <p>{{ msg["capt"] }}</p>
                {% else %}
                  {% for type,body,capt in msg %}
                      <p>{{ type }}</p>
                      {% if "application" not in type %}
                        <img src="data:image/jpeg;base64,{{ body }}" width="120" height="120">
                      {% endif %}
                      <p>{{ capt }}</p>
                  {% endfor %}
                {% endif %}
            {% else %}
                <p>{{ msg }}</p>
            {% endif %}
            <hr>
        {% endfor %}
    </ul>
</body>
</html>

