<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <style>
        .rectangular-input {
            width: 400px;
            height: 80px;
            font-size: 16px;
            padding: 2px;
            border: 2px solid #333;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <form action="/send" method="POST">
        <input type="hidden" name="num" value="{{ num }}">
        <input type="text" name="sendbox" class="rectangular-input" placeholder="Type here...">
        <button type="submit">Send</button>
    </form>
    {% for who,msg,t in who_msg_t %}
        <b>{{ who }}&nbsp;&nbsp;&nbsp;{{ t }}</b>
        {% if msg is iterable and not msg is string %}
            {% if msg is mapping %}
                <p>{{ msg["type"] }}</p>
                <form action="/downmedia" method="POST">
                    <input type="hidden" name="type" value="{{ msg["type"] }}">
                    <button type="submit" style="border: none; background: none; padding: 0; cursor: pointer;">
                        <input type="hidden" name="media" value="{{ msg }}">
                        <img src="data:image/jpeg;base64,{{ msg["body"] }}" width="120" height="120">
                    </button>
                </form>
                <p>{{ msg["capt"] }}</p>
            {% else %}
                {% for type,body,capt in msg %}
                    <p>{{ type }}</p>
                    <form action="/downmedia" method="POST">
                        <input type="hidden" name="type" value="{{ type }}">
                        <button type="submit" style="border: none; background: none; padding: 0; cursor: pointer;">
                            <input type="hidden" name="media" value="{{ body }}">
                            {% if "application" not in type %}
                                <img src="data:image/jpeg;base64,{{ body }}" width="120" height="120">
                            {% else %}
                                <p>{{ capt }}</p>
                            {% endif %}
                        </button>
                    </form>
                    {% if "application" not in type %}
                        <p>{{ capt }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}
            <p>{{ msg }}</p>
        {% endif %}
    {% endfor %}
    <form action="/pgdown" method="POST">
        <input type="hidden" name="num" value="{{ num }}">
        <button type="submit">Down</button>
    </form>
</body>
</html>

